<!-- Sidebar -->
<div class="sidebar" [class.close]="toggleSidenav">

  <div class="logo-container">
    <h3 class="text1">Four</h3>
    <img src="assets/images/guitar-logo.svg" alt="" class="logo">
    <h3 class="text2">Chords</h3>
  </div>

  <div class="sidenav-list">
    <li>
      <a>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
    </li>

    <li #history>
      <a (click)="openComponentOverlay(history)">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </a>
    </li>

<!--    <li>-->
<!--      <a>-->
<!--        <mat-icon>thumb_up</mat-icon>-->
<!--        <span>Liked</span>-->
<!--      </a>-->
<!--    </li>-->

    <li>
      <a>
        <mat-icon>favorite_border</mat-icon>
        <span>Favourites</span>
      </a>
    </li>

    <li>
      <a>
        <mat-icon> list_alt</mat-icon>
        <span>My Lists</span>
      </a>
    </li>

    <div class="spacer"></div>

    <li>
      <a>
        <mat-icon>settings</mat-icon>
        <span>Options</span>
      </a>
    </li>

  </div>
</div>
