@import "/src/assets/animations.scss";
@import "/src/assets/colors.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: $background;
  width: $sidenav-open-width;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px hsla(0, 0%, 40%, 0.75);

  .logo-container {
    @include animate__fadeIn(1s);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    height: $navbar-height*2;

    .logo {
      max-width: 105px;
      padding: 0px 5px 0px 5px;
    }

    .text1, .text2 {
      position: absolute;
      opacity: 1;
      font-size: 25px;
      font-weight: 600;
      transition: opacity 0.1s ease;
      margin: 0;
    }

    .text1 {
      font-weight: 600;
      font-size: 25px;
      top: 26px;
      left: 26px;
    }

    .text2 {
      right: 9px;
      bottom: 14px;
    }
  }

  .sidenav-list {
    //padding: 15px 0px 5px 5px;
    padding: 20rem 0px 30rem 5px;
    height: calc(100vh - $navbar-height * 2);
    display: flex;
    flex-direction: column;

    li {
      height: 48px;
      background: transparent;
      margin-left: 6px;
      border-radius: 48px 0 0 48px;
      padding: 4px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 48px;
        font-size: 20px;
        color: $primary;
        white-space: nowrap;
        overflow-x: hidden;
        transition: all 0.3s ease;

        &:hover {
          filter: brightness(110%);
          transform: scale(1.1);
          margin-left: 20px;
          cursor: pointer;
        }

        span {
          transition: linear 0.3s ease;
        }

        mat-icon {
          margin-right: 10px;
        }
      }
    }
  }
}

.sidebar.close {
  width: $sidenav-close-width;

  .logo-container {
    h3 {
      opacity: 0;
      width: 0px;
    }
  }

  .sidenav-list {
    li {
      a {
        span {
          opacity: 0;
          display: none;
          transition: all 0.3s ease;
        }

        mat-icon {
          margin-right: 0px;
        }

        &:hover {
          margin-left: 0px;
        }
      }
    }
  }
}
