@import "src/assets/colors.scss";

.card-container {
  height: 100%;
  background-color: $secondary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .card-header {
    justify-content: center;

    p{
      margin: 0;
      color: $text;
    }
  }

  .card-content {
    overflow-y: scroll;
  }
}
