//darktheme
//$theme-map-dark: (
//  $text: #eff0ef,
//  $background: #000000,
//  $primary: #818288,
//  $secondary: #0d0d0d,
//  $accent: #c1bdbe,
//);
////lighttheme
//$theme-map-light: (
//  $text: #000000,
//  $background: #eff0ef,
//  $primary: #818288,
//  $secondary: #d9d9d9,
//  $accent: #766f71,
//);
$heading-font: Montserrat, 'Helvetica Neue', sans-serif;
$body-font: Nunito, 'Helvetica Neue', sans-serif;
$text: #000000;
$background: #eff0ef;
$primary: #818288;
$secondary: #d9d9d9;
$accent: #766f71;
