<div class="recommendation-container">
  <header>
    <div class="recommendation-titles">
      <h3>Recommendations</h3>
    </div>
    <div class="recommendation-actions">
      <custom-fab-button matTooltip="shuffle">
        <mat-icon class="mini-fab-color">shuffle</mat-icon>
      </custom-fab-button>
      <custom-fab-button matTooltip="filters">
        <mat-icon class="mini-fab-color">filter_list</mat-icon>
      </custom-fab-button>
    </div>  
  </header>

  <mat-divider></mat-divider>

  <div class="card-container">
    <custom-card *ngFor="let media of a">
      <div class="custom-card-title">Tum se milke</div>
      <div class="custom-card-subtitle">Mohit Chauhan</div>
    </custom-card>
  </div>
</div>
