@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import "src/assets/scrollbar+material-theme";
@import 'assets/colors.scss';
@import "src/assets/animations.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $background;
  color: $text;
  margin: 0;
  font-family: $body-font;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-style: normal;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $accent;
  margin: 0px 0px 10px 0px;
  line-height: 1.1;
  font-weight: 600;
}

h1 {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
}

h2 {
  font-size: 32px;
  letter-spacing: .004em;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -.016em;
  font-family: $body-font;
}

li {
  list-style: none;
}

@media screen and (max-width: $mobile-width) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 8px;
  }
}

/////////////////////////////////////////////////////////////////////////
.custom-card-title {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.custom-card-subtitle {
  font-size: 1.5rem;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

/////////////////////////////////////////////////////////////////////////

app-history-column {
  height: 100%;
  width: 100%;
}

.mini-fab-color {
  color: $accent;
}
