@import "/src/assets/colors.scss";

.content-card {
  background-color: transparent;
  padding: 20px;
  box-shadow: none;
  border-radius: 0px;
  height: 100%;

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content-titles{

    }

    .content-actions{
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }
  }

  .content-main {
    padding: 20px 0px;
  }
}

.chords {
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  margin: -0.1em -0.5em -0.15em;
  padding: 0 0.4em;
  position: relative;
  background-color: $secondary;

  &:hover {
    filter: brightness(85%);
  }
}

.lyrics {
  font-size: 16px;
}

.combine {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;

  .word {
    margin-right: 12px;
  }
}
