@import "src/assets/colors.scss";
@import "src/assets/animations.scss";


app-side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidenav-open-width;
  height: 100vh;
  transition: all 0.3s ease;
}

.main{
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - $sidenav-open-width);
  left: $sidenav-open-width;
  transition: all 0.3s ease;

  .main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
    height: calc(100vh - $navbar-height);

    app-content {
      width: 70%;
      overflow-y: scroll;
    }

    app-reccomendation {
      width: 30%;
      overflow-y: scroll;
    }
  }
}

.close {
  width: $sidenav-close-width;
}

.close ~ .main {
  width: calc(100% - $sidenav-close-width);
  left: $sidenav-close-width;
}


@media screen and (min-width: 1240px) {

}
